# Exercício -  Manipulando o DataFrame

In [18]:
# 1. Abra o arquivo wold_happiness_report_2015.csv e o aloque em um datafram
import pandas as pd
import numpy as np

df = pd.read_csv('world_happiness_report_2015.csv')

In [19]:
# QUESTION
# 2. Verifique o cabeçalho e o final do dataframe
#print(df.head()) #cabelhaço
df.tail() #final do dataframe
# porque quando coloco o print a visualização é diferente

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
159,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
160,Benin,Sub-Saharan Africa,155,3.340,NaN,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,NaN
161,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
162,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,NaN
163,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,NaN

In [20]:
# 3. Quais as colunas desse dataframe?
df.columns

Index(['country', 'region', 'happiness rank', 'happiness score',
       'standard error', 'economy (GDP per Capita)', 'family',
       'health (Life Expectancy)', 'freedom', 'trust (Government Corruption)',
       'generosity', 'dystopia residual'],
      dtype='object')

In [21]:
# 4. Quais os tipos de dados temos no datagrame?
df.dtypes

country                           object
region                            object
happiness rank                     int64
happiness score                  float64
standard error                   float64
economy (GDP per Capita)         float64
family                           float64
health (Life Expectancy)         float64
freedom                          float64
trust (Government Corruption)    float64
generosity                       float64
dystopia residual                float64
dtype: object

In [22]:
# 5. Há valores faltantes ou nulos? Em quais colunas?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country                        164 non-null    object
 1   region                         164 non-null    object
 2   happiness rank                 164 non-null    int64
 3   happiness score                156 non-null    float64
 4   standard error                 163 non-null    float64
 5   economy (GDP per Capita)       164 non-null    float64
 6   family                         164 non-null    float64
 7   health (Life Expectancy)       164 non-null    float64
 8   freedom                        164 non-null    float64
 9   trust (Government Corruption)  164 non-null    float64
 10  generosity                     164 non-null    float64
 11  dystopia residual              150 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 15.5+ KB

In [23]:
# 6. Renomeie as varáveis como segue:
df.rename(columns={'happiness rank': 'rank_felicidade'}, inplace=True)
df.rename(columns={'happiness score': 'score_felicidade'}, inplace=True)
df.rename(columns={'standard error': 'stand_error'}, inplace=True)
df.rename(columns={'economy (GDP per Capita)' : 'PIB'}, inplace=True)
df.rename(columns={'health (Life Expectancy)': 'expect_vida'}, inplace=True)
df.rename(columns={'trust (Government Corruption)': 'corrupcao'}, inplace=True)

In [24]:
# QUESTION
# o que eu fiz para não aparecer todas as colunas?
# 7. Quais os valores médios de expect_vida? E o valor mediano? E o máximo da variável PIB?
df.describe()

,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
count,164.000000,156.000000,163.000000,164.000000,164.000000,164.000000,164.000000,164.000000,164.000000,150.000000
mean,77.018293,5.424487,0.047692,0.862023,1.000812,0.638187,0.434959,0.149978,0.239615,2.128909
std,46.699860,1.212568,0.017110,0.404519,0.272449,0.246327,0.152201,0.124201,0.128053,0.563160
min,1.000000,2.000000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,35.750000,4.561250,0.036780,0.579618,0.863468,0.460545,0.331247,0.063010,0.152017,1.811778
50%,76.500000,5.260500,0.043940,0.920510,1.038145,0.705930,0.440745,0.110690,0.217155,2.120700
75%,117.250000,6.422000,0.052335,1.190585,1.226987,0.814975,0.557190,0.189380,0.319570,2.474890
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [10]:
# QUESTION
# não sei nem por onde começar
# 8. Crie uma series que contenha a altura de 5 colegas e deixe seus como índice.

alturas = pd.Series([1.55, 1.71, 1.60, 1.65, 1.80, 1.62, 1.90, 1.70,
                     1.85, 1.91, 1.87, 2.00, 1.61,1.89, 1.90], 
               index=['Vinicius','Nycole','Josiane','Matheus','Rogério',
                      'Carolina', 'Felipe', 'Jefferson', 'Michelle',
                      'Anderson', 'Francisco', 'Jonatas', 'Leonardo',
                      'Wellerson Vinicius', 'Lidiane'])     
alturas

Vinicius              1.55
Nycole                1.71
Josiane               1.60
Matheus               1.65
Rogério               1.80
Carolina              1.62
Felipe                1.90
Jefferson             1.70
Michelle              1.85
Anderson              1.91
Francisco             1.87
Jonatas               2.00
Leonardo              1.61
Wellerson Vinicius    1.89
Lidiane               1.90
dtype: float64

# Exercício - iloc e loc

In [12]:
# 1. Selecione apenas os dados de country, region, family e freedom (usando loc)
df.loc[0:,['country','region','family','freedom']]

         country                           region   family freedom
0    Switzerland                   Western Europe  134,951  66,557
1        Iceland                   Western Europe  140,223  62,877
2        Denmark                   Western Europe  136,058  64,938
3         Norway                   Western Europe  133,095  66,973
4         Canada                    North America  132,261  63,297
..           ...                              ...      ...     ...
159       Rwanda               Sub-Saharan Africa    7,737  59,201
160        Benin               Sub-Saharan Africa   35,386   4,845
161        Syria  Middle East and Northern Africa   47,489  15,684
162      Burundi               Sub-Saharan Africa   41,587   1,185
163         Togo               Sub-Saharan Africa   13,995  36,453

[164 rows x 4 columns]

In [13]:
#QUESTION
# não consegui
# 2. Selecione apenas os dados de country, region, family e freedim (usando iloc)
df.iloc[:,0:1]

         country
0    Switzerland
1        Iceland
2        Denmark
3         Norway
4         Canada
..           ...
159       Rwanda
160        Benin
161        Syria
162      Burundi
163         Togo

[164 rows x 1 columns]

In [14]:
# 3. Selecione apenas as primeiras 15 linhas de country e PIB(usando loc)
df.loc[0:15,['country','PIB']]

        country      PIB
0   Switzerland  139,651
1       Iceland  130,232
2       Denmark  132,548
3        Norway    1,459
4        Canada  132,629
5       Finland  129,025
6   Netherlands  132,944
7        Sweden  133,171
8   New Zealand  125,018
9     Australia  133,358
10       Israel  122,857
11       Canada  132,629
12      Finland  129,025
13  Netherlands  132,944
14       Sweden  133,171
15   Costa Rica   95,578

In [15]:
# QUESTION
# 4. Selecione apenas as primeiras 15 linhas de country e PIB(usando iloc)

In [22]:
# 5. Selecione apenas os dados cujo score_felicidade seja maior que 5.
df.loc[df.score_felicidade > '5']

,country,region,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
0,Switzerland,Western Europe,1,"7,587","3,411","139,651","134,951","94,143","66,557","41,978","29,678","251,738"
1,Iceland,Western Europe,2,"7,561","4,884","130,232","140,223","94,784","62,877","14,145","4,363","270,201"
2,Denmark,Western Europe,3,"7,527","3,328","132,548","136,058","87,464","64,938","48,357","34,139","249,204"
3,Norway,Western Europe,4,"7,522",388,"1,459","133,095","88,521","66,973","36,503","34,699","246,531"
4,Canada,North America,5,"7,427","3,553","132,629","132,261","90,563","63,297","32,957","45,811","245,176"
...,...,...,...,...,...,...,...,...,...,...,...,...
94,Latvia,Central and Eastern Europe,89,"5,098",464,"111,312","109,562","72,437","29,671","6,332","18,226","162,215"
95,Philippines,Southeastern Asia,90,"5,073","4,934","70,532","103,516","58,114","62,545","12,279","24,991",NaN
96,Somaliland region,Sub-Saharan Africa,91,"5,057","6,161","18,847","95,152","43,873","46,582","39,928","50,318","211,032"
97,Morocco,Middle East and Northern Africa,92,"5,013",342,"73,479","64,095","60,954","41,691","8,546","7,172","245,373"
98,Macedonia,Central and Eastern Europe,93,"5,007","5,376","91,851","100,232","73,545","33,457","5,327","22,359","173,933"

In [81]:
# 6. Selecione apenas os dados que sejam da Southern Asia
df.loc[df.region == 'Southern Asia']

,country,region,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
84,Bhutan,Southern Asia,79,"5,253","3,225","77,042","110,395","57,407","53,206","15,445","47,998","163,794"
86,Pakistan,Southern Asia,81,"5,194","3,726","59,543","41,411","51,466","12,102","10,464","33,671","310,709"
114,Bangladesh,Southern Asia,109,"4,694","3,077","39,753","43,106","60,164","4,082","12,569","21,222",NaN
122,India,Southern Asia,117,"4,565","2,043","64,499","38,174","51,529","39,786","8,492","26,475","227,513"
126,Nepal,Southern Asia,121,"4,514","3,607","35,997","86,449","56,874","38,282","5,907","32,296","195,637"
137,Sri Lanka,Southern Asia,132,"4,271","3,751","83,524","101,905","70,806","53,726","9,179","40,828","67,108"
158,Afghanistan,Southern Asia,153,"3,575","3,084","31,982","30,285","30,335","23,414","9,719","3,651",1.9521