In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('world_happiness_report_2015.csv')

# Exercícios - Operações

In [2]:
# renomeando

df.rename(columns={'happiness rank': 'rank_felicidade'}, inplace=True)
df.rename(columns={'happiness score': 'score_felicidade'}, inplace=True)
df.rename(columns={'standard error': 'stand_error'}, inplace=True)
df.rename(columns={'economy (GDP per Capita)' : 'PIB'}, inplace=True)
df.rename(columns={'health (Life Expectancy)': 'expect_vida'}, inplace=True)
df.rename(columns={'trust (Government Corruption)': 'corrupcao'}, inplace=True)

In [3]:
df.describe()

,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
count,164.000000,156.000000,163.000000,164.000000,164.000000,164.000000,164.000000,164.000000,164.000000,150.000000
mean,77.018293,5.424487,0.047692,0.862023,1.000812,0.638187,0.434959,0.149978,0.239615,2.128909
std,46.699860,1.212568,0.017110,0.404519,0.272449,0.246327,0.152201,0.124201,0.128053,0.563160
min,1.000000,2.000000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,35.750000,4.561250,0.036780,0.579618,0.863468,0.460545,0.331247,0.063010,0.152017,1.811778
50%,76.500000,5.260500,0.043940,0.920510,1.038145,0.705930,0.440745,0.110690,0.217155,2.120700
75%,117.250000,6.422000,0.052335,1.190585,1.226987,0.814975,0.557190,0.189380,0.319570,2.474890
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [4]:
# 1. Qual a média do score_felicidade
df.score_felicidade.mean()

5.424487179487181

In [5]:
# 2. Qual a soma do PIB?
df.PIB.sum()

141.37172

In [7]:
# 3. Qual a soma do freedom e corrupçao?
df[['freedom', 'corrupcao']].sum()

freedom      71.33320
corrupcao    24.59645
dtype: float64

In [8]:
# 4. Há dados duplicados? Quantos? Verifique quais são eles
df.duplicated().sum()
df.loc[df.duplicated() == True]

,country,region,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
11,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
12,Finland,Western Europe,6,7.406,0.03140,1.29025,1.31826,0.88911,0.64169,0.41372,0.23351,2.61955
13,Netherlands,Western Europe,7,7.378,0.02799,1.32944,1.28017,0.89284,0.61576,0.31814,0.47610,2.46570
14,Sweden,Western Europe,8,7.364,0.03157,1.33171,1.28907,0.91087,0.65980,0.43844,0.36262,2.37119
34,Oman,Middle East and Northern Africa,22,6.853,0.05335,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
35,Venezuela,Latin America and Caribbean,23,6.810,0.06476,1.04424,1.25596,0.72052,0.42908,0.11069,0.05841,3.19131

In [9]:
# 5. Verifique a quantidade de dados faltantes
df3 = df.dropna()
df3.isna().sum()

country              0
region               0
rank_felicidade      0
score_felicidade     0
stand_error          0
PIB                  0
family               0
expect_vida          0
freedom              0
corrupcao            0
generosity           0
dystopia residual    0
dtype: int64

In [27]:
# 6. Crie um novo dataframe onde os valores de score_felcidade sejam substituídos por -9999

In [10]:
# 7. Quantas e quais são regions existentes nos dados?

In [ ]:
# 8. Verifique a frequência dos dados segundo suas regiões. Qual a região com maior quantidade de dados? E a região com a menor quantidade?

# Exercícios - Unindo dataframes

In [28]:
# 1. Crie um dataframe para cada um dos arquivos nba_2015_a.csv, nba_2015_b.csv, nba_2015_c.csv, e bust_nba_2015.csv. Chame esses dataframes de df_a, df_b, df_c, bust, respectivamente

In [29]:
# 2. Visualize o head() de cada um dos dataframes

In [30]:
# 3. Concatene os arquivos df_a, df_b, df_c usando a função concat() usando os índices. Salve um dataframe chamado df_total

In [31]:
# 4. Faça a concatenação do dataframe df_total com o dataframe bust utilizando a função merge() e a variável ID.

In [ ]:
# 5. Busque a documentação das funções concat() e merge() e veja que outros parâmetros podem ser utilizados

# Exercícios - Agrupando os dados

In [32]:
# 1. Abra o arquivo preferencias.csv como um dataframe chamado pref.

In [33]:
# 2. Visualize os 5 primeiras linhas do arquivo

In [34]:
# 3. Agrupe os dados pela variável Gender(gênero)

In [35]:
# 4. Verifique a contagem de itens por cada gênero

In [36]:
# 5. Agrupe os dados pelas variáveis Gender e Favorite Color (cor favorita)

In [37]:
# 6. Quantos itens de gênero F também possuem cor favorita Cool?

In [38]:
# 7. Agrupe os dados pelas variáveis Gender e Favorite Color e Favorite Beverage (bebida favorita)

In [ ]:
# 8. Verifique a quantidade de itens de gênero M que têm cor preferida Warm e que preferem Beer

# Professor

In [11]:
import numpy as np
import pandas as pd

df = pd.read_csv('world_happiness_report_2015.csv')

In [94]:
df

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,"7,587","3,411","139,651","134,951","94,143","66,557","41,978","29,678","251,738"
1,Iceland,Western Europe,2,"7,561","4,884","130,232","140,223","94,784","62,877","14,145","4,363","270,201"
2,Denmark,Western Europe,3,"7,527","3,328","132,548","136,058","87,464","64,938","48,357","34,139","249,204"
3,Norway,Western Europe,4,"7,522",388,"1,459","133,095","88,521","66,973","36,503","34,699","246,531"
4,Canada,North America,5,"7,427","3,553","132,629","132,261","90,563","63,297","32,957","45,811","245,176"
...,...,...,...,...,...,...,...,...,...,...,...,...
159,Rwanda,Sub-Saharan Africa,154,"3,465","3,464","22,208","7,737","42,864","59,201","55,191","22,628","67,042"
160,Benin,Sub-Saharan Africa,155,3.34,NaN,"28,665","35,386","3,191","4,845",801,"1,826",NaN
161,Syria,Middle East and Northern Africa,156,"3,006","5,015","6,632","47,489","72,193","15,684","18,906","47,179","32,858"
162,Burundi,Sub-Saharan Africa,157,"2,905","8,658",153,"41,587","22,396","1,185","10,062","19,727",NaN
163,Togo,Sub-Saharan Africa,158,"2,839","6,727","20,868","13,995","28,443","36,453","10,731","16,681",NaN

In [12]:
df.rename(columns={'happiness rank':'rank_felicidade', 'happiness score':'score_felicidade',
'standard error':'stand_error', 'economy (GDP perCapita)':'PIB', 'health (Life Expectancy)':'expect_vida',
'trust (GovernmentCorruption)':'corrupcao'}, inplace=True)

In [13]:
df.loc[:,['country','region','family','freedom']]

         country                           region   family  freedom
0    Switzerland                   Western Europe  1.34951  0.66557
1        Iceland                   Western Europe  1.40223  0.62877
2        Denmark                   Western Europe  1.36058  0.64938
3         Norway                   Western Europe  1.33095  0.66973
4         Canada                    North America  1.32261  0.63297
..           ...                              ...      ...      ...
159       Rwanda               Sub-Saharan Africa  0.77370  0.59201
160        Benin               Sub-Saharan Africa  0.35386  0.48450
161        Syria  Middle East and Northern Africa  0.47489  0.15684
162      Burundi               Sub-Saharan Africa  0.41587  0.11850
163         Togo               Sub-Saharan Africa  0.13995  0.36453

[164 rows x 4 columns]

In [14]:
df.iloc[:,[0,1,6,8]]

         country                           region   family  freedom
0    Switzerland                   Western Europe  1.34951  0.66557
1        Iceland                   Western Europe  1.40223  0.62877
2        Denmark                   Western Europe  1.36058  0.64938
3         Norway                   Western Europe  1.33095  0.66973
4         Canada                    North America  1.32261  0.63297
..           ...                              ...      ...      ...
159       Rwanda               Sub-Saharan Africa  0.77370  0.59201
160        Benin               Sub-Saharan Africa  0.35386  0.48450
161        Syria  Middle East and Northern Africa  0.47489  0.15684
162      Burundi               Sub-Saharan Africa  0.41587  0.11850
163         Togo               Sub-Saharan Africa  0.13995  0.36453

[164 rows x 4 columns]

In [15]:
df.loc[:14,['country','region','family','freedom']]

        country                           region   family  freedom
0   Switzerland                   Western Europe  1.34951  0.66557
1       Iceland                   Western Europe  1.40223  0.62877
2       Denmark                   Western Europe  1.36058  0.64938
3        Norway                   Western Europe  1.33095  0.66973
4        Canada                    North America  1.32261  0.63297
5       Finland                   Western Europe  1.31826  0.64169
6   Netherlands                   Western Europe  1.28017  0.61576
7        Sweden                   Western Europe  1.28907  0.65980
8   New Zealand        Australia and New Zealand  1.31967  0.63938
9     Australia        Australia and New Zealand  1.30923  0.65124
10       Israel  Middle East and Northern Africa  1.22393  0.41319
11       Canada                    North America  1.32261  0.63297
12      Finland                   Western Europe  1.31826  0.64169
13  Netherlands                   Western Europe  1.28017  0.61576
14       Sweden                   Western Europe  1.28907  0.65980

In [16]:
df.iloc[:15,[0,1,6,8]]

        country                           region   family  freedom
0   Switzerland                   Western Europe  1.34951  0.66557
1       Iceland                   Western Europe  1.40223  0.62877
2       Denmark                   Western Europe  1.36058  0.64938
3        Norway                   Western Europe  1.33095  0.66973
4        Canada                    North America  1.32261  0.63297
5       Finland                   Western Europe  1.31826  0.64169
6   Netherlands                   Western Europe  1.28017  0.61576
7        Sweden                   Western Europe  1.28907  0.65980
8   New Zealand        Australia and New Zealand  1.31967  0.63938
9     Australia        Australia and New Zealand  1.30923  0.65124
10       Israel  Middle East and Northern Africa  1.22393  0.41319
11       Canada                    North America  1.32261  0.63297
12      Finland                   Western Europe  1.31826  0.64169
13  Netherlands                   Western Europe  1.28017  0.61576
14       Sweden                   Western Europe  1.28907  0.65980

In [18]:
df.loc[df.score_felicidade > 5]

,country,region,rank_felicidade,score_felicidade,stand_error,economy (GDP per Capita),family,expect_vida,freedom,trust (Government Corruption),generosity,dystopia residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
94,Latvia,Central and Eastern Europe,89,5.098,0.04640,1.11312,1.09562,0.72437,0.29671,0.06332,0.18226,1.62215
95,Philippines,Southeastern Asia,90,5.073,0.04934,0.70532,1.03516,0.58114,0.62545,0.12279,0.24991,NaN
96,Somaliland region,Sub-Saharan Africa,91,5.057,0.06161,0.18847,0.95152,0.43873,0.46582,0.39928,0.50318,2.11032
97,Morocco,Middle East and Northern Africa,92,5.013,0.03420,0.73479,0.64095,0.60954,0.41691,0.08546,0.07172,2.45373
98,Macedonia,Central and Eastern Europe,93,5.007,0.05376,0.91851,1.00232,0.73545,0.33457,0.05327,0.22359,1.73933

In [19]:
df.loc[df.region == 'Southern Asia']

,country,region,rank_felicidade,score_felicidade,stand_error,economy (GDP per Capita),family,expect_vida,freedom,trust (Government Corruption),generosity,dystopia residual
84,Bhutan,Southern Asia,79,5.253,0.03225,0.77042,1.10395,0.57407,0.53206,0.15445,0.47998,1.63794
86,Pakistan,Southern Asia,81,5.194,0.03726,0.59543,0.41411,0.51466,0.12102,0.10464,0.33671,3.10709
114,Bangladesh,Southern Asia,109,4.694,0.03077,0.39753,0.43106,0.60164,0.40820,0.12569,0.21222,NaN
122,India,Southern Asia,117,4.565,0.02043,0.64499,0.38174,0.51529,0.39786,0.08492,0.26475,2.27513
126,Nepal,Southern Asia,121,4.514,0.03607,0.35997,0.86449,0.56874,0.38282,0.05907,0.32296,1.95637
137,Sri Lanka,Southern Asia,132,4.271,0.03751,0.83524,1.01905,0.70806,0.53726,0.09179,0.40828,0.67108
158,Afghanistan,Southern Asia,153,3.575,0.03084,0.31982,0.30285,0.30335,0.23414,0.09719,0.36510,1.95210

In [20]:
df.score_felicidade.mean()

5.424487179487181

In [21]:
df.dtypes

country                           object
region                            object
rank_felicidade                    int64
score_felicidade                 float64
stand_error                      float64
economy (GDP per Capita)         float64
family                           float64
expect_vida                      float64
freedom                          float64
trust (Government Corruption)    float64
generosity                       float64
dystopia residual                float64
dtype: object