In [1]:
import pandas as pd

df = pd.read_csv('world_happiness_report_2015.csv')

# Exercícios - Operações

In [2]:
# renomeando

df.rename(columns={'happiness rank': 'rank_felicidade'}, inplace=True)
df.rename(columns={'happiness score': 'score_felicidade'}, inplace=True)
df.rename(columns={'standard error': 'stand_error'}, inplace=True)
df.rename(columns={'economy (GDP per Capita)' : 'PIB'}, inplace=True)
df.rename(columns={'health (Life Expectancy)': 'expect_vida'}, inplace=True)
df.rename(columns={'trust (Government Corruption)': 'corrupcao'}, inplace=True)

In [3]:
df

,country,region,rank_felicidade,score_felicidade,stand_error,PIB,family,expect_vida,freedom,corrupcao,generosity,dystopia residual
0,Switzerland,Western Europe,1,"7,587","3,411","139,651","134,951","94,143","66,557","41,978","29,678","251,738"
1,Iceland,Western Europe,2,"7,561","4,884","130,232","140,223","94,784","62,877","14,145","4,363","270,201"
2,Denmark,Western Europe,3,"7,527","3,328","132,548","136,058","87,464","64,938","48,357","34,139","249,204"
3,Norway,Western Europe,4,"7,522",388,"1,459","133,095","88,521","66,973","36,503","34,699","246,531"
4,Canada,North America,5,"7,427","3,553","132,629","132,261","90,563","63,297","32,957","45,811","245,176"
...,...,...,...,...,...,...,...,...,...,...,...,...
159,Rwanda,Sub-Saharan Africa,154,"3,465","3,464","22,208","7,737","42,864","59,201","55,191","22,628","67,042"
160,Benin,Sub-Saharan Africa,155,3.34,NaN,"28,665","35,386","3,191","4,845",801,"1,826",NaN
161,Syria,Middle East and Northern Africa,156,"3,006","5,015","6,632","47,489","72,193","15,684","18,906","47,179","32,858"
162,Burundi,Sub-Saharan Africa,157,"2,905","8,658",153,"41,587","22,396","1,185","10,062","19,727",NaN
163,Togo,Sub-Saharan Africa,158,"2,839","6,727","20,868","13,995","28,443","36,453","10,731","16,681",NaN

In [25]:
# 1. Qual a média do score_felicidade
# convert object to date
#df.dtypes
df['score_felicidade'] = df['score_felicidade'].astype(float64)
#df['score_felicidade']
df.dtypes

NameError: name 'float64' is not defined

In [5]:
# 2. Qual a soma do PIB?

In [6]:
# 3. Qual a soma do freedom e corrupçao?

In [7]:
# 4. Há dados duplicados? Quantos? Verifique quais são eles

In [8]:
# 5. Verifique a quantidade de dados faltantes

In [9]:
# 6. Crie um novo dataframe onde os valores de score_felcidade sejam substituídos por -9999

In [10]:
# 7. Quantas e quais são regions existentes nos dados?

In [ ]:
# 8. Verifique a frequência dos dados segundo suas regiões. Qual a região com maior quantidade de dados? E a região com a menor quantidade?

# Exercícios - Unindo dataframes

In [28]:
# 1. Crie um dataframe para cada um dos arquivos nba_2015_a.csv, nba_2015_b.csv, nba_2015_c.csv, e bust_nba_2015.csv. Chame esses dataframes de df_a, df_b, df_c, bust, respectivamente

In [29]:
# 2. Visualize o head() de cada um dos dataframes

In [30]:
# 3. Concatene os arquivos df_a, df_b, df_c usando a função concat() usando os índices. Salve um dataframe chamado df_total

In [31]:
# 4. Faça a concatenação do dataframe df_total com o dataframe bust utilizando a função merge() e a variável ID.

In [ ]:
# 5. Busque a documentação das funções concat() e merge() e veja que outros parâmetros podem ser utilizados

# Exercícios - Agrupando os dados

In [32]:
# 1. Abra o arquivo preferencias.csv como um dataframe chamado pref.

In [33]:
# 2. Visualize os 5 primeiras linhas do arquivo

In [34]:
# 3. Agrupe os dados pela variável Gender(gênero)

In [35]:
# 4. Verifique a contagem de itens por cada gênero

In [36]:
# 5. Agrupe os dados pelas variáveis Gender e Favorite Color (cor favorita)

In [37]:
# 6. Quantos itens de gênero F também possuem cor favorita Cool?

In [38]:
# 7. Agrupe os dados pelas variáveis Gender e Favorite Color e Favorite Beverage (bebida favorita)

In [ ]:
# 8. Verifique a quantidade de itens de gênero M que têm cor preferida Warm e que preferem Beer