# Exercício -  Manipulando o DataFrame

In [23]:
# 1. Abra o arquivo wold_happiness_report_2015.csv e o aloque em um datafram
import pandas as pd

df = pd.read_csv('world_happiness_report_2015.csv')

In [7]:
# QUESTION
# 2. Verifique o cabeçalho e o final do dataframe
#print(df.head()) #cabelhaço
df.tail() #final do dataframe
# porque quando coloco o print a visualização é diferente

,country,region,happiness rank,happiness score,standard error,economy (GDP per Capita),family,health (Life Expectancy),freedom,trust (Government Corruption),generosity,dystopia residual
159,Rwanda,Sub-Saharan Africa,154,"3,465","3,464","22,208","7,737","42,864","59,201","55,191","22,628","67,042"
160,Benin,Sub-Saharan Africa,155,3.34,NaN,"28,665","35,386","3,191","4,845",801,"1,826",NaN
161,Syria,Middle East and Northern Africa,156,"3,006","5,015","6,632","47,489","72,193","15,684","18,906","47,179","32,858"
162,Burundi,Sub-Saharan Africa,157,"2,905","8,658",153,"41,587","22,396","1,185","10,062","19,727",NaN
163,Togo,Sub-Saharan Africa,158,"2,839","6,727","20,868","13,995","28,443","36,453","10,731","16,681",NaN

In [18]:
# 3. Quais as colunas desse dataframe?
df.columns

Index(['country', 'region', 'happiness rank', 'happiness score',
       'standard error', 'economy (GDP per Capita)', 'family',
       'health (Life Expectancy)', 'freedom', 'trust (Government Corruption)',
       'generosity', 'dystopia residual'],
      dtype='object')

In [11]:
# 4. Quais os tipos de dados temos no datagrame?
df.dtypes

country                          object
region                           object
happiness rank                    int64
happiness score                  object
standard error                   object
economy (GDP per Capita)         object
family                           object
health (Life Expectancy)         object
freedom                          object
trust (Government Corruption)    object
generosity                       object
dystopia residual                object
dtype: object

In [12]:
# 5. Há valores faltantes ou nulos? Em quais colunas?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   country                        164 non-null    object
 1   region                         164 non-null    object
 2   happiness rank                 164 non-null    int64
 3   happiness score                156 non-null    object
 4   standard error                 163 non-null    object
 5   economy (GDP per Capita)       164 non-null    object
 6   family                         164 non-null    object
 7   health (Life Expectancy)       164 non-null    object
 8   freedom                        164 non-null    object
 9   trust (Government Corruption)  164 non-null    object
 10  generosity                     164 non-null    object
 11  dystopia residual              150 non-null    object
dtypes: int64(1), object(11)
memory usage: 15.5+ KB

In [13]:
# 6. Renomeie as varáveis como segue:
df.rename(columns={'happiness rank': 'rank_felicidade'}, inplace=True)
df.rename(columns={'happiness score': 'score_felicidade'}, inplace=True)
df.rename(columns={'standard error': 'stand_error'}, inplace=True)
df.rename(columns={'economy (GDP per Capita)' : 'PIB'}, inplace=True)
df.rename(columns={'health (Life Expectancy)': 'expect_vida'}, inplace=True)
df.rename(columns={'trust (Government Corruption)': 'corrupcao'}, inplace=True)

In [22]:
# QUESTION
# o que eu fiz para não aparecer todas as colunas?
# 7. Quais os valores médios de expect_vida? E o valor mediano? E o máximo da variável PIB?
df.describe()

       happiness rank
count      164.000000
mean        77.018293
std         46.699860
min          1.000000
25%         35.750000
50%         76.500000
75%        117.250000
max        158.000000

In [ ]:
# 8. Crie uma series que contenha a altura de 5 colegas e deixe seus como índice.